
*.o
*.mo
*.po.new
*.a
Makefile
Makefile.in
.deps
config.h
config.h.in
FileZilla.app/
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
locales/filezilla.pot
locales/resources.h
m4
*.gch
version.rc
src/include/stamp-h1
src/interface/filezilla
src/interface/resources/MacInfo.plist
src/interface/settings/.dirstamp
src/putty/fzputtygen
src/putty/fzsftp
