[Desktop Entry]
Name=FileZilla
GenericName=FTP and SFTP client
Comment=Download and upload files via ftp, sftp and ftps
Comment[fr]=Transférer des fichiers via ftp, sftp et ftps
Exec=filezilla
Terminal=false
Icon=filezilla.png
Type=Application
Categories=Network;FileTransfer;
Version=1.0
